.recent-chat {
    position: relative;
    /* Ensure relative positioning for the parent element */
    font-size: 14px;
    width: 10%;
    margin: 0px 5px;
    padding: 5px;
    border: 1px solid white;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    text-wrap: nowrap;
    cursor: pointer;
}

.recent-chat:hover {
    width: 12%;
}

.recent-chat::before {
    content: '';
    /* Add content to the pseudo-element (empty content) */
    position: absolute;
    /* Position the pseudo-element absolutely within the parent */
    top: 0;
    right: 0;
    /* Place the pseudo-element on the right side */
    width: 40px;
    /* Adjust the width of the shadow element as needed */
    height: 100%;
    /* Make the shadow element cover the full height of the parent */
    background: linear-gradient(to left, #e3e3e3aa, transparent);
    /* Use a linear gradient for the shadow effect (black to transparent) */
    z-index: 1;
    /* Ensure the shadow element is above the text (increase if necessary) */
}

.fa-angle-down {
    cursor: pointer;
}

.fa-angle-down:hover {
    background-color: #FFFFFF33;
    padding: 5px;
}

.fa-angle-down:active {
    background-color: #FFFFFFAA;
}

.right button {
    margin: 0px 5px;
}


.chat-body {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    height: -webkit-fill-available;
}


.prompt-input-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    align-items: center;
    box-shadow: 0px -3px 5px 5px #FEFEFE;
    background-color: #FEFEFE;
}

.prompt-input-container i {
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    transform: rotate(-90deg);
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
    margin: 10px;
    border: 1px solid black;
}

.chat-input-field {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    min-height: 50px;
    text-wrap: wrap;
    color: black;
    padding: 20px;
    border: 1px solid black;
}


.create-chat a {
    background-color: var(--primary-color);
    color: white;
    padding: 2px;
    border-radius: 7px;
    cursor: pointer;
}

.create-chat {
    display: flex;
    background-color: #FEFEFE;
    border-radius: 20px;
    color: black;
    padding: 20%;
    align-items: center;
    width: auto;
    font-size: 20px;
}

.create-chat button {
    background-color: green;
}

.messages {
    width: auto;
    height: 88%;
    padding: 0px 10%;
    overflow: scroll;
}

.message-containter {
    width: auto;
    display: flex;
}

.message {
    display: block;
    padding: 20px;
    box-shadow: 0px 0px 2px 0.5px #000000AA;
    border-radius: 20px;
    margin: 20px;
    overflow-wrap: break-word;
    background-color: white;
    text-align: left;
    width: 40%;
}

.premessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.sending-message{
    display: block;
    width: 30%;
    text-align: left;
    position: absolute;
    bottom: 0;
    color: black;
    border: 1px solid #5086d7;
    backdrop-filter: blur(3px);
    z-index: 10;
    left: 50%;
    transform: translate(-10%, -30%);
    padding: 20px;
    border-radius: 10px;
    animation: pending-oscillate 1s ease-in-out infinite;
}

.datetime{
    font-size: 11px;
    text-align: right;
    margin-bottom: 10px;
}
.sending-message .datetime{
    color: #0007;
    border-bottom: 1px solid #0007;
}

.pfp{
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 0px;
}

.row{
    display: flex;
    align-items: center;
}

@keyframes pending-oscillate {
    0% {
      transform: translateY(-30%); /* Initial position */
    }
    50% {
      transform: translateY(-40%); /* Move up */
    }
    100% {
      transform: translateY(-30%); /* Back to initial position */
    }
  }
  