.title{
    width: auto;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

.notification{
    position: absolute;
    right: 0;
    margin: 10px;
    padding: 20px 50px;
    background-color: #02347fAA;
    border-radius: 10px;
    color: white;
    z-index: 2;
    backdrop-filter: blur(3px);
}