.chats{
    margin: 0px 0px;
    padding: 0px 0px;
    width: auto;
    display: block;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}
.chats-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.chats table{
    width: -webkit-fill-available;
}

table td{
    padding: 20px;
}
th{
    padding: 20px;
    font-size: 30px;
}
tr{
    transition-duration: 0.1ms;
    border-radius: 20px;
    overflow: hidden;
    border-bottom: #BBB solid 0.5px;
}
tr:nth-last-of-type(odd){
    background-color: #EEE;
}

tr:hover{
    background-color: #0058dd22;
    color: black;
    cursor: pointer;
}

.create{
    background-color: #2A2;
    color: white;
}

.create:hover{
    background-color: #181;
}

.prompt{
    width: 70%;
    text-align: left;
    overflow: hidden;
}
.date{
    width: 20%;
}
.ta-l{
    text-align: left;
}
.delete{
    color: #ff3b3b;
    align-items: center;
    text-align: center;
}

.table-container {
    height: 60vh; /* 50% of viewport height */
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds container height */
}

table {
    width: 100%;
    table-layout: fixed; /* Prevent table from changing layout */
    border-collapse: collapse;

}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevent wrapping of content */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Show ellipsis for overflow content */
}
.header{
    transform: translateY(-1px);
    background-color: var(--primary-color);
    color: white;
    cursor: default;
    position: sticky;
    top:0;
}
.header:hover{
    background-color: var(--primary-color);
    color: white;
    cursor: default;
}
