.star{
    cursor: pointer;
}
.star-full{
    color: #f1c40f;
    cursor: pointer;
}
.rating{
    border-top: 1px solid #ffffff99;
    margin-top: 10px;
}
.rating p{
    font-style: italic;
    font-size: 11px;
    color: #ffffff99;
}